@use "./colors" as *;
@use "./typography" as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffefba; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #ffefba
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #ffefba
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.row {
  width: 100%;
  display: flex;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1920px;
  flex-flow: column nowrap;
}

h1 {
  font-family: $logo;
  background: -webkit-linear-gradient($black, $green);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  width: fit-content;
  padding-bottom: 8px;

  &::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    content: "";
    width: 60%;
    height: 5px;
    border-radius: 20px;
    background: linear-gradient(to bottom, $green, $black);
  }
}

h2,
h3 {
  font-family: $titles;
  background: -webkit-linear-gradient($black, $brown);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}
h4,
h5,
h6,
a,
p,
span {
  font-family: $text;
  text-decoration: none;
  color: $black;
}
