@use '../global/colors' as *;

.animalSounds {
  width: 100%;
  margin: 50px auto;

  .game {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    min-height: 350px;
    margin: 0 auto;
    background-color: $blue;
    padding: 50px;
    border-radius: 50px;
    box-shadow: 0 0 20px #72442c;

    &.small {
      min-height: unset;
    }

    img {
      cursor: pointer;
      object-fit: contain;
      max-width: 120px;
      width: 100%;
      font-size: 0;
      margin-bottom: 40px;
    }

    button.start,
    button.restart {
      cursor: pointer;
      width: fit-content;
      border: 2px solid $green;
      font-size: 20px;
      color: #fff;
      background-color: $green;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      border-radius: 20px;
      padding: 10px 30px;
      transition: all 0.3s ease-in-out;
      font-weight: 400;

      &:hover {
        background-color: #fff;
        color: $green;
      }
    }

    .gameLoading {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .game_btns {
      width: 100%;
      flex-grow: 1;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      .btn_con {
        flex: 0 0 50%;
        width: 50%;
        padding: 10px;

        button {
          cursor: pointer;
          width: 100%;
          border: 2px solid $green;
          font-size: 20px;
          color: #fff;
          background-color: $green;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          border-radius: 20px;
          padding: 5px 20px;
          transition: all 0.3s ease-in-out;
          font-weight: 400;

          &.wrong {
            background: red;
            border: 2px solid red;
          }

          &:hover {
            background-color: #fff;
            color: $green;
          }
          &.wrong:hover {
            background-color: red;
            color: #fff;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .animalSounds {
    margin: 0 auto 70px auto;
  }
}

@media only screen and (max-width: 500px) {
  .animalSounds .game {
    button.start,
    button.restart {
      font-size: 18px;
    }

    img {
      height: 200px;
    }
    .game_btns {
      flex-flow: column nowrap;
      align-items: center;
      .btn_con {
        flex: unset;
        width: 100%;
        max-width: 300px;
        padding: 7px 0;

        button {
          font-size: 18px;
          &:hover {
            background-color: $green;
            color: #fff;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 350px) {
  .animalSounds .game {
    padding: 30px;
    height: 550px;
    button.start,
    button.restart {
      font-size: 16px;
      padding: 10px;
    }
    .game_btns .btn_con button {
      font-size: 16px;
    }
  }
}
