@use '../global/typography' as *;
@use '../global/colors' as *;

.logInForm {
  min-height: calc(100vh - 300px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;

  form {
    width: 100%;
    max-width: 600px;
    background: $blue;
    border: 3px solid $brown;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    box-sizing: border-box;
    border-radius: 30px;
    box-shadow: 0 0 20px $brown;
    padding: 30px;
    margin: 0 auto 20px auto;

    .errorMsg {
      width: 100%;
      text-align: center;
      background: $pink;
      padding: 10px 20px;
      margin: 0 auto 20px auto;
      border-radius: 20px;

      .errorText {
        color: #fff;
        font-size: 16px;
        line-height: 20px;
      }
    }

    label {
      width: 100%;
      font-family: $titles;
      font-size: 16px;
      margin-bottom: 10px;
      text-align: center;
    }

    input {
      width: 100%;
      padding: 15px 20px;
      box-sizing: border-box;
      border-radius: 20px;
      border: 2px solid $brown;
      resize: none;
      font-size: 18px;
      background: #fff;
      outline: none;
      margin-bottom: 20px;
      &:focus {
        box-shadow: 0 0 10px $brown;
      }
      &::placeholder {
        font-size: 18px;
        font-family: $titles;
      }
    }

    button {
      margin-top: 10px;
      width: 100%;
      max-width: 150px;
      padding: 10px 20px;
      box-sizing: border-box;
      font-size: 20px;
      background: $green;
      color: #fff;
      border: none;
      border-radius: 20px;
      cursor: pointer;

      &:hover {
        box-shadow: 0 0 20px $brown;
        background: $brown;
      }
    }
  }

  .providers {
    width: fit-content;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    margin: 0 auto 15px auto;
    button {
      width: 40px;
      box-sizing: border-box;
      font-size: 0;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      box-shadow: 0 0 10px $brown;

      &.googleIcon {
        padding: 5px;
      }

      img {
        width: 100%;
        max-width: 100%;
      }

      &:hover {
        box-shadow: 0 0 20px $black;
      }
    }
  }

  p {
    font-size: 14px;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    margin: 0 auto 80px auto;

    a {
      color: $green;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: $brown;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .logInForm {
    form {
      button {
        font-size: 18px;
        padding: 10px;
        max-width: 120px;
      }
    }
  }
}
@media only screen and (max-width: 550px) {
  .logInForm {
    form {
      padding: 30px 20px;
      input {
        padding: 10px 20px;
      }
    }
  }
}
