*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #ffefba; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffffff, #ffefba); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
body::-webkit-scrollbar {
  width: 15px;
}
body::-webkit-scrollbar-track {
  background: #f1f1f1;
}
body::-webkit-scrollbar-thumb {
  background: #55792f;
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb:hover {
  background: #8dcbc9;
}

.row {
  z-index: 1;
  width: 100%;
  display: flex;
  padding: 0 100px;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1920px;
  flex-flow: column nowrap;
}

h1 {
  font-family: "Gentium Book Plus", serif;
  font-size: 36px;
  line-height: 36px;
  background: -webkit-linear-gradient(#1a1a1a, #55792f);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 20px;
  margin: 0 auto 50px auto;
  text-align: center;
}
h1::after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  content: "";
  width: 60%;
  height: 5px;
  border-radius: 20px;
  background: linear-gradient(to bottom, #55792f, #1a1a1a);
}

h2,
h3 {
  font-family: "Gentium Book Plus", serif;
  color: #1a1a1a;
  text-decoration: none;
}

h4,
h5,
h6,
a,
p,
span {
  font-family: "Literata", serif;
  text-decoration: none;
  color: #1a1a1a;
}

.tree1 {
  position: fixed;
  left: -200px;
  top: -10%;
  height: 120%;
  transform: rotate(4deg);
  animation: slideRignt 2s forwards ease-in-out;
}

.tree2 {
  position: fixed;
  right: -200px;
  top: -10%;
  height: 120%;
  transform: rotateY(180deg) rotateZ(4deg);
  animation: slideLeft 2s forwards ease-in-out;
}

.leaf1 {
  position: fixed;
  left: -140px;
  top: -140px;
}

.leaf2 {
  position: fixed;
  right: -140px;
  top: -140px;
}

@keyframes slideRignt {
  0% {
    left: -200px;
  }
  100% {
    left: -120px;
  }
}
@keyframes slideLeft {
  0% {
    right: -200px;
  }
  100% {
    right: -120px;
  }
}
@media only screen and (max-width: 1500px) {
  .tree1,
  .tree2,
  .leaf1,
  .leaf2 {
    display: none;
  }
  .row {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 32px;
    line-height: 34px;
  }
}
@media only screen and (max-width: 900px) {
  h1 {
    -webkit-text-fill-color: #1a1a1a;
    text-shadow: 0 0 3px #55792f;
    padding: 0;
  }
  h1::after {
    display: none;
  }
}
@media only screen and (max-width: 550px) {
  h1 {
    margin: 0 auto 20px auto;
    padding: 0;
  }
}
header {
  min-height: 180px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  margin-bottom: 80px;
  position: relative;
}
header .headerLeft,
header .headerRight {
  flex: 0 0 calc(50% - 100px);
  width: calc(50% - 100px);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
header .headerLeft {
  justify-content: flex-end;
}
header .headerRight {
  justify-content: flex-start;
}
header .logo {
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}
header .logo img {
  width: 100%;
  max-width: 120px;
}
header .logo span {
  font-size: 40px;
  font-family: "Gentium Book Plus", serif;
  background: -webkit-linear-gradient(#1a1a1a, #55792f);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
header .link {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  font-size: 0;
  margin: 0 50px;
  padding-bottom: 5px;
  position: relative;
  overflow: hidden;
}
header .link::after {
  content: "";
  position: absolute;
  left: -100%;
  bottom: 0;
  background: #55792f;
  height: 3px;
  border-radius: 30px;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
header .link.active::after {
  left: 0;
}
header .link.active.account::after {
  left: -100%;
}
header .link img {
  width: 100%;
  max-width: 32px;
  margin: 5px 0;
}
header .link span {
  font-size: 18px;
  font-family: "Gentium Book Plus", serif;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
header .link span .permanent {
  margin: 0 5px;
}
header .user_menu_container {
  position: relative;
}
header .user_menu_container .user_menu {
  position: absolute;
  left: 0;
  top: 65px;
  width: 100%;
}
header .user_menu_container .user_menu .triangle {
  display: block;
  height: 20px;
  width: 20px;
  background-color: #55792f;
  position: absolute;
  top: 13px;
  left: calc(50% - 10px);
  -webkit-clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
  transform: rotate(135deg);
  border-radius: 0 0 0 0.3rem;
}
header .user_menu_container .user_menu ul {
  background: #55792f;
  border-radius: 20px;
  padding: 20px 0;
  position: relative;
  margin-top: 20px;
  width: 100%;
  max-width: 200px;
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
header .user_menu_container .user_menu ul li {
  width: 100%;
  background: #55792f;
  border-bottom: 2px solid #fff;
  transition: all 0.3s ease-in-out;
}
header .user_menu_container .user_menu ul li:first-child {
  border-top: 2px solid #fff;
}
header .user_menu_container .user_menu ul li:hover {
  background: #72442c;
}
header .user_menu_container .user_menu ul li a {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
  display: block;
}

@media only screen and (max-width: 1200px) {
  header .link {
    margin: 0 20px;
  }
}
@media only screen and (max-width: 900px) {
  header {
    min-height: 150px;
    margin-bottom: 50px;
  }
  header .link span {
    font-size: 16px;
  }
  header .link span div:not(.permanent) {
    display: none;
  }
  header .logo img {
    max-width: 90px;
  }
  header .logo span {
    font-size: 30px;
  }
}
@media only screen and (max-width: 650px) {
  header .link span {
    font-size: 0;
  }
}
@media only screen and (max-width: 550px) {
  header {
    min-height: 110px;
  }
  header .link {
    margin: 0 15px;
  }
  header .logo img {
    max-width: 70px;
  }
  header .logo span {
    font-size: 26px;
  }
  header .headerLeft,
  header .headerRight {
    flex: 0 0 calc(50% - 60px);
    width: calc(50% - 60px);
  }
}
@media only screen and (max-width: 450px) {
  header {
    min-height: 100px;
    margin-bottom: 20px;
  }
  header .link {
    margin: 0 15px;
  }
  header .logo span {
    font-size: 0;
  }
  header .headerLeft,
  header .headerRight {
    flex: 0 0 calc(50% - 50px);
    width: calc(50% - 50px);
  }
}
@media only screen and (max-width: 380px) {
  header .link {
    margin: 0 10px;
  }
  header .link img {
    max-width: 30px;
  }
}
footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  box-sizing: border-box;
}
footer span {
  font-size: 20px;
  font-family: "Love Ya Like A Sister", cursive;
  text-align: center;
}

@media only screen and (max-width: 550px) {
  footer span {
    font-size: 18px;
  }
}
.banner_con {
  overflow: hidden;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 50px auto;
  border-radius: 50px;
  box-shadow: 0 0 20px #72442c;
  font-size: 0;
}
.banner_con .banner {
  width: 100%;
}

.homeText {
  width: 100%;
  max-width: 900px;
  margin: 0 auto 100px auto;
  text-align: center;
  background: #fff;
  border: 5px solid #55792f;
  padding: 40px;
  border-radius: 50px;
}
.homeText p {
  font-size: 22px;
  line-height: 32px;
  margin: 30px auto;
}

@media only screen and (max-width: 1200px) {
  .homeText p {
    font-size: 20px;
    line-height: 30px;
    margin: 20px auto;
  }
}
@media only screen and (max-width: 900px) {
  .homeText {
    padding: 40px 20px;
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 550px) {
  .homeText h1 {
    margin: 0 auto 20px auto;
  }
  .homeText p {
    font-size: 18px;
    line-height: 28px;
  }
}
@media only screen and (max-width: 480px) {
  .homeText {
    padding: 40px 10px;
  }
  .homeText p {
    font-size: 16px;
    line-height: 26px;
  }
}
.topStories {
  width: 100%;
  margin-bottom: 100px;
}
.topStories h1 {
  margin-bottom: 40px;
}
.topStories .homeSlider {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 50px;
  aspect-ratio: 16/9;
  overflow: hidden;
  position: relative;
}
.topStories .homeSlider .homeSliderCon {
  width: 100%;
  height: 100%;
  display: flex;
}
.topStories .homeSlider .homeSliderCon .topStory {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  flex-shrink: 0;
  flex-grow: 1;
  transition: translate 0.3s ease-in-out;
}
.topStories .homeSlider .homeSliderCon .topStory img.sliderImage {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.topStories .homeSlider .homeSliderCon .topStory .topStoryInfo {
  box-shadow: 0 0 20px black;
  background: #fff;
  border: 5px solid #fff;
  z-index: 100;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  max-width: 400px;
  min-width: 200px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  padding: 20px;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
  min-height: 120px;
}
.topStories .homeSlider .homeSliderCon .topStory .topStoryInfo:hover {
  border: 5px solid #55792f;
}
.topStories .homeSlider .homeSliderCon .topStory .topStoryInfo h2 {
  font-family: "Gentium Book Plus", serif;
  font-size: 22px;
  line-height: 27px;
  transition: all 0.2s ease-in-out;
}
.topStories .homeSlider .homeSliderCon .topStory .topStoryInfo h4 {
  margin-top: 10px;
  font-family: "Gentium Book Plus", serif;
  transition: all 0.2s ease-in-out;
}
.topStories .homeSlider .arrow {
  z-index: 1;
  padding: 10px;
  width: 80px;
  box-sizing: border-box;
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  background: transparent;
  border: none;
  display: block;
  font-size: 0;
  transition: transform 0.3s ease-in-out;
}
.topStories .homeSlider .arrow img {
  font-size: 0;
  width: 100%;
  max-width: 100%;
}
.topStories .homeSlider .arrow:hover, .topStories .homeSlider .arrow:focus {
  background: rgba(0, 0, 0, 0.2);
}
.topStories .homeSlider .arrow:hover img, .topStories .homeSlider .arrow:focus img {
  animation: squish 0.2s ease-in-out;
}
.topStories .homeSlider .arrow:focus-visible {
  outline: auto;
}
.topStories .homeSlider .arrowLeft {
  left: 0;
}
.topStories .homeSlider .arrowRight {
  right: 0;
}
.topStories .homeSlider .sliderPagination {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.topStories .homeSlider .sliderPagination button {
  cursor: pointer;
  padding: 0;
  border: 0;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  box-shadow: 0 0 20px #000;
  transition: scale 0.1s ease-in-out;
}
.topStories .homeSlider .sliderPagination button:hover, .topStories .homeSlider .sliderPagination button:focus {
  scale: 1.2;
}
.topStories .homeSlider .sliderPagination button:focus-visible {
  outline: auto;
}
.topStories .homeSlider .sliderPagination button.active {
  background: #55792f;
}

@keyframes squish {
  50% {
    scale: 1.4 0.6;
  }
}
@media only screen and (max-width: 900px) {
  .topStories h1 {
    margin: 0 auto 20px auto;
    padding-bottom: 10px;
  }
  .topStories .homeSlider .arrowLeft,
  .topStories .homeSlider .arrowRight {
    width: 60px;
  }
  .topStories .homeSlider .homeSliderCon .topStory .topStoryInfo {
    padding: 10px;
  }
  .topStories .homeSlider .homeSliderCon .topStory .topStoryInfo h2 {
    font-size: 18px;
    line-height: 22px;
  }
}
@media only screen and (max-width: 550px) {
  .topStories h1 {
    margin: 0 auto 20px auto;
  }
  .topStories .homeSlider {
    margin: 0 auto 20px auto;
  }
  .topStories .homeSlider .arrowLeft,
  .topStories .homeSlider .arrowRight {
    width: 40px;
    padding: 0;
  }
  .topStories .homeSlider .homeSliderCon .topStory .topStoryInfo {
    transform: translate(-50%, 50%);
    bottom: 50%;
    padding: 10px;
    min-height: unset;
  }
  .topStories .homeSlider .homeSliderCon .topStory .topStoryInfo h2 {
    font-size: 16px;
    line-height: 20px;
  }
  .topStories .homeSlider .homeSliderCon .topStory .topStoryInfo h4 {
    display: none;
  }
  .topStories .homeSlider .sliderPagination {
    gap: 7px;
  }
  .topStories .homeSlider .sliderPagination button {
    width: 8px;
    height: 8px;
  }
}
.animalsBg {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}
.animalsBg img:nth-child(1) {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 3vw;
  top: 31vh;
  animation: float1 10s linear infinite alternate-reverse;
}
.animalsBg img:nth-child(2) {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 30vw;
  top: 40vh;
  animation: float2 10s linear infinite alternate-reverse;
}
.animalsBg img:nth-child(3) {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 33vw;
  top: 39vh;
  animation: float3 10s linear infinite alternate-reverse;
}
.animalsBg img:nth-child(4) {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 40vw;
  top: 84vh;
  animation: float4 10s linear infinite alternate-reverse;
}
.animalsBg img:nth-child(5) {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 60vw;
  top: 102vh;
  animation: float5 10s linear infinite alternate-reverse;
}
.animalsBg img:nth-child(6) {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 108vw;
  top: 54vh;
  animation: float6 10s linear infinite alternate-reverse;
}
.animalsBg img:nth-child(7) {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 91vw;
  top: 117vh;
  animation: float7 10s linear infinite alternate-reverse;
}
.animalsBg img:nth-child(8) {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 144vw;
  top: 124vh;
  animation: float8 10s linear infinite alternate-reverse;
}
.animalsBg img:nth-child(9) {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 108vw;
  top: 93vh;
  animation: float9 10s linear infinite alternate-reverse;
}
.animalsBg img:nth-child(10) {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 150vw;
  top: 22vh;
  animation: float10 10s linear infinite alternate-reverse;
}

@keyframes float1 {
  0% {
    left: 6vw;
    top: 23vh;
  }
  100% {
    left: 9vw;
    top: 23vh;
  }
}
@keyframes float2 {
  0% {
    left: 26vw;
    top: 30vh;
  }
  100% {
    left: 2vw;
    top: 24vh;
  }
}
@keyframes float3 {
  0% {
    left: 54vw;
    top: 21vh;
  }
  100% {
    left: 27vw;
    top: 60vh;
  }
}
@keyframes float4 {
  0% {
    left: 64vw;
    top: 48vh;
  }
  100% {
    left: 72vw;
    top: 68vh;
  }
}
@keyframes float5 {
  0% {
    left: 10vw;
    top: 67vh;
  }
  100% {
    left: 70vw;
    top: 17vh;
  }
}
@keyframes float6 {
  0% {
    left: 42vw;
    top: 24vh;
  }
  100% {
    left: 36vw;
    top: 132vh;
  }
}
@keyframes float7 {
  0% {
    left: 91vw;
    top: 96vh;
  }
  100% {
    left: 77vw;
    top: 124vh;
  }
}
@keyframes float8 {
  0% {
    left: 96vw;
    top: 100vh;
  }
  100% {
    left: 96vw;
    top: 36vh;
  }
}
@keyframes float9 {
  0% {
    left: 117vw;
    top: 75vh;
  }
  100% {
    left: 90vw;
    top: 30vh;
  }
}
@keyframes float10 {
  0% {
    left: 180vw;
    top: 132vh;
  }
  100% {
    left: 100vw;
    top: 202vh;
  }
}
@media only screen and (max-width: 900px) {
  .animalsBg {
    display: none;
  }
}
.welcomeMsg {
  width: 100%;
  text-align: center;
  margin: 0 auto 20px auto;
}
.welcomeMsg h1 {
  font-size: 32px;
}
.welcomeMsg h1::after {
  display: none;
}

.video_con {
  overflow: hidden;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 50px auto;
  border-radius: 50px;
  box-shadow: 0 0 20px #72442c;
  font-size: 0;
  position: relative;
}
.video_con .video {
  width: 100%;
}
.video_con .video_controls {
  position: absolute;
  right: 8px;
  bottom: 8px;
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 20px;
  background: #8dcbc9;
  border-radius: 40px;
  box-shadow: 0 0 20px #72442c;
}
.video_con .video_controls button {
  background: #fff;
  border-radius: 50%;
  border: none;
  outline: none;
  width: 100%;
  max-width: 40px;
  height: 100%;
  max-height: 40px;
  border: 2px solid #fff;
  cursor: pointer;
  margin-left: 10px;
  transition: all 0.2s ease-in-out;
}
.video_con .video_controls button:hover {
  transform: scale(1.1);
}
.video_con .video_controls button img {
  width: 100%;
  font-size: 0;
}
.video_con .video_controls .track {
  background: rgb(34, 151, 255);
  background: linear-gradient(75deg, rgb(34, 151, 255) 0%, rgb(224, 138, 138) 100%);
  width: 100%;
  height: 20px;
  border-radius: 1rem;
  overflow: hidden;
  /* For Firefox */
}
.video_con .video_controls .track input {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background: transparent;
  cursor: pointer;
}
.video_con .video_controls .track input:focus {
  outline: none;
}
.video_con .video_controls .track input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  background-color: #ffffff;
  border: 2px solid #55792f;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 10px #55792f;
}
.video_con .video_controls .track input::-moz-range-thumb {
  height: 20px;
  width: 20px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.stories {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto 50px auto;
  min-height: calc(100vh - 300px);
}
.stories .loading-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
}
.stories .dot {
  width: 10px;
  height: 10px;
  margin: 0 4px;
  background-color: #8dcbc9;
  border-radius: 50%;
  display: inline-block;
  animation: spin 1.5s linear infinite;
}
.stories #dot1 {
  animation-delay: 0.1s;
}
.stories #dot2 {
  animation-delay: 0.2s;
}
.stories #dot3 {
  animation-delay: 0.3s;
}
.stories #dot4 {
  animation-delay: 0.4s;
}
.stories #dot5 {
  animation-delay: 0.5s;
}
.stories #dot6 {
  animation-delay: 0.6s;
}
@keyframes spin {
  0%, 100% {
    transform: scale(1);
    background-color: #105d9c;
  }
  50% {
    transform: scale(1.5);
    background-color: #8dcbc9;
  }
}
.stories .searchBar {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.stories .searchBar form {
  width: 250px;
  position: relative;
  margin-right: 20px;
}
.stories .searchBar form input {
  width: 100%;
  padding: 8px 35px 8px 20px;
  box-sizing: border-box;
  border: 2px solid #286EAF;
  border-radius: 10px;
  font-size: 18px;
  color: #1a1a1a;
}
.stories .searchBar form input::-moz-placeholder {
  font-size: 16px;
  font-family: "Literata", serif;
}
.stories .searchBar form input::placeholder {
  font-size: 16px;
  font-family: "Literata", serif;
}
.stories .searchBar form button {
  cursor: pointer;
  border: none;
  background: transparent;
  position: absolute;
  right: 10px;
  top: 45%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
}
.stories .searchBar form button img {
  font-size: 0;
  width: 100%;
  max-width: 100%;
}
.stories .searchBar .layoutBtns {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  gap: 6px;
}
.stories .searchBar .layoutBtns button {
  width: 35px;
  border: none;
  background: transparent;
  cursor: pointer;
}
.stories .searchBar .layoutBtns button img {
  width: 100%;
  max-width: 100%;
  font-size: 0;
}
.stories .searchBar .layoutBtns button.active {
  opacity: 0.5;
}
.stories .storiesList {
  width: 100%;
}
.stories .storiesList .storiesListCon {
  width: 100%;
  display: flex;
}
.stories .storiesList .storiesListCon h2.notFound {
  text-align: center;
  margin: 100px auto;
}
.stories .storiesList .storiesListCon a.back {
  cursor: pointer;
  width: 200px;
  margin: 0 auto 50px auto;
  text-align: center;
  border-radius: 20px;
  padding: 5px 0 8px 0;
  box-sizing: border-box;
  border: 3px solid #55792f;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background: #55792f;
  transition: all 0.3s ease-in-out;
}
.stories .storiesList .storiesListCon a.back:hover {
  background: transparent;
  color: #55792f;
}
.stories .storiesList .storiesListCon .storyCon {
  background: #8dcbc9;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 0 30px #8dcbc9;
  border-radius: 20px;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.stories .storiesList .storiesListCon .storyCon:hover {
  box-shadow: 0 0 30px #000;
}
.stories .storiesList .storiesListCon .storyCon > img {
  font-size: 0;
  width: 100%;
  max-width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 225px;
}
.stories .storiesList .storiesListCon .storyCon .storyInfo {
  display: flex;
  flex-flow: column nowrap;
}
.stories .storiesList .storiesListCon .storyCon .storyInfo h3 {
  font-size: 32px;
  line-height: 34px;
  margin-bottom: 10px;
}
.stories .storiesList .storiesListCon .storyCon .storyInfo h5 {
  font-size: 18px;
  margin: 0 auto 5px 0;
  font-weight: 300;
}
.stories .storiesList .storiesListCon .storyCon .storyInfo p {
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 20px;
  margin-top: 20px;
  line-height: 25px;
  overflow: hidden;
}
.stories .storiesList .storiesListCon.detailsList {
  flex-flow: column nowrap;
}
.stories .storiesList .storiesListCon.detailsList .story {
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
}
.stories .storiesList .storiesListCon.detailsList .story .storyCon {
  flex-flow: row nowrap;
  justify-content: space-between;
}
.stories .storiesList .storiesListCon.detailsList .story .storyCon img {
  border-radius: 20px 0 0 20px;
}
.stories .storiesList .storiesListCon.detailsList .story .storyCon .storyInfo {
  padding-left: 40px;
  flex-grow: 1;
}
.stories .storiesList .storiesListCon.gridList {
  flex-flow: row wrap;
}
.stories .storiesList .storiesListCon.gridList .story {
  flex: 0 0 25%;
  width: 25%;
  width: 100%;
  padding: 10px;
}
.stories .storiesList .storiesListCon.gridList .story .storyCon {
  flex-flow: column nowrap;
  justify-content: unset;
  height: 100%;
}
.stories .storiesList .storiesListCon.gridList .story .storyCon img {
  border-radius: 20px 20px 0 0;
}
.stories .storiesList .storiesListCon.gridList .story .storyCon .storyInfo {
  width: 100%;
  text-align: center;
  height: 100%;
}
.stories .storiesList .storiesListCon.gridList .story .storyCon .storyInfo h3 {
  flex-grow: 1;
  margin: 20px auto 0 auto;
  font-size: 26px;
  line-height: 28px;
}
.stories .storiesList .storiesListCon.gridList .story .storyCon .storyInfo h5 {
  font-size: 16px;
  margin: 10px auto 20px auto;
  font-weight: 300;
}
.stories .storiesList .storiesListCon.gridList .story .storyCon .storyInfo p {
  display: none;
}
.stories .loadMore {
  display: block;
  padding: 10px 20px;
  box-sizing: border-box;
  border: 4px solid #55792f;
  background: #55792f;
  color: #fff;
  font-family: "Gentium Book Plus", serif;
  font-size: 18px;
  cursor: pointer;
  margin: 40px auto;
  transition: all 0.3s ease-in-out;
  border-radius: 20px;
}
.stories .loadMore:hover {
  background-color: transparent;
  color: #55792f;
}
.stories .loadMore:disabled {
  background: gray;
  cursor: no-drop;
  border: 4px solid gray;
}
.stories .loadMore:hover:disabled {
  color: #fff;
}

@media only screen and (max-width: 1200px) {
  .stories .storiesList .storiesListCon.gridList .story {
    width: 33.3%;
    flex: 0 0 33.3%;
  }
  .stories .storiesList .storiesListCon.gridList .story img {
    max-width: 100%;
  }
}
@media only screen and (max-width: 900px) {
  .stories .storiesList .storiesListCon.detailsList .story .storyCon {
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
  }
  .stories .storiesList .storiesListCon.detailsList .story .storyCon img {
    min-height: unset;
    max-width: 100%;
    border-radius: 20px 20px 0 0;
  }
  .stories .storiesList .storiesListCon.detailsList .story .storyCon .storyInfo {
    align-items: center;
    text-align: center;
    padding: 20px 0 0 0;
  }
  .stories .storiesList .storiesListCon.detailsList .story .storyCon .storyInfo h3 {
    font-size: 28px;
    line-height: 30px;
  }
  .stories .storiesList .storiesListCon.detailsList .story .storyCon .storyInfo h5 {
    margin: 0 auto;
  }
  .stories .storiesList .storiesListCon.gridList .story .storyCon .storyInfo h3 {
    font-size: 22px;
    line-height: 24px;
    margin: 10px auto;
  }
  .stories .storiesList .storiesListCon.gridList .story .storyCon .storyInfo h5 {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 750px) {
  .stories .storiesList .storiesListCon.gridList .story {
    width: 50%;
    flex: 0 0 50%;
  }
}
@media only screen and (max-width: 480px) {
  .stories .storiesList .storiesListCon.detailsList .story .storyCon {
    padding: 10px;
  }
  .stories .storiesList .storiesListCon.detailsList .story .storyCon .storyInfo h3 {
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 15px;
  }
  .stories .storiesList .storiesListCon.detailsList .story .storyCon .storyInfo p {
    font-size: 16px;
  }
  .stories .storiesList .storiesListCon.storiesListCon.gridList .story {
    padding: 5px;
  }
  .stories .storiesList .storiesListCon.storiesListCon.gridList .story .storyCon {
    padding: 10px;
  }
  .stories .storiesList .storiesListCon.storiesListCon.gridList .story .storyCon .storyInfo h3 {
    font-size: 20px;
    line-height: 22px;
  }
}
.storyDetailsLoad {
  min-height: calc(100vh - 330px);
}
.storyDetailsLoad .loading-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
}
.storyDetailsLoad .dot {
  width: 10px;
  height: 10px;
  margin: 0 4px;
  background-color: #8dcbc9;
  border-radius: 50%;
  display: inline-block;
  animation: spin 1.5s linear infinite;
}
.storyDetailsLoad #dot1 {
  animation-delay: 0.1s;
}
.storyDetailsLoad #dot2 {
  animation-delay: 0.2s;
}
.storyDetailsLoad #dot3 {
  animation-delay: 0.3s;
}
.storyDetailsLoad #dot4 {
  animation-delay: 0.4s;
}
.storyDetailsLoad #dot5 {
  animation-delay: 0.5s;
}
.storyDetailsLoad #dot6 {
  animation-delay: 0.6s;
}
@keyframes spin {
  0%, 100% {
    transform: scale(1);
    background-color: #105d9c;
  }
  50% {
    transform: scale(1.5);
    background-color: #8dcbc9;
  }
}
.storyDetailsLoad .storyDetails {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}
.storyDetailsLoad .storyDetails h1 {
  margin: 0 auto 20px auto;
}
.storyDetailsLoad .storyDetails h3.date {
  font-size: 18px;
  font-family: "Literata", serif;
  font-weight: 500;
  margin: 0 auto 5px auto;
}
.storyDetailsLoad .storyDetails h4.idea {
  font-size: 18px;
  font-family: "Literata", serif;
  font-weight: 500;
  margin: 0 auto;
}
.storyDetailsLoad .storyDetails .storyBtns {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  position: relative;
  width: 100%;
  max-width: 380px;
  padding-bottom: 80px;
  margin-top: 30px;
}
.storyDetailsLoad .storyDetails .storyBtns .favorite {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  border: 2px solid #e08a8a;
  background: #e08a8a;
  border-radius: 10px;
  padding: 5px 10px;
}
.storyDetailsLoad .storyDetails .storyBtns .favorite:hover {
  background: #fff;
}
.storyDetailsLoad .storyDetails .storyBtns .favorite:hover span {
  color: #e08a8a;
}
.storyDetailsLoad .storyDetails .storyBtns .favorite:hover img {
  filter: invert(62%) sepia(15%) saturate(3443%) hue-rotate(308deg) brightness(108%) contrast(90%);
}
.storyDetailsLoad .storyDetails .storyBtns .favorite span {
  white-space: nowrap;
  font-size: 15px;
  color: #fff;
  margin-left: 10px;
}
.storyDetailsLoad .storyDetails .storyBtns .favorite img {
  width: 100%;
  max-width: 24px;
  font-size: 0;
}
.storyDetailsLoad .storyDetails .storyBtns .player {
  width: -moz-fit-content;
  width: fit-content;
}
.storyDetailsLoad .storyDetails .storyBtns .player button.audio {
  width: -moz-fit-content;
  width: fit-content;
  min-width: 200px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: fit-content;
  cursor: pointer;
  border-radius: 10px;
  padding: 5px 10px;
}
.storyDetailsLoad .storyDetails .storyBtns .player button.audio span {
  white-space: nowrap;
  font-size: 15px;
  color: #fff;
  margin-left: 10px;
}
.storyDetailsLoad .storyDetails .storyBtns .player button.audio img {
  width: 100%;
  max-width: 22px;
  font-size: 0;
}
.storyDetailsLoad .storyDetails .storyBtns .player button.audio.paused {
  border: 2px solid #55792f;
  background: #55792f;
}
.storyDetailsLoad .storyDetails .storyBtns .player button.audio.playing {
  border: 2px solid #ff2f00;
  background: #ff2f00;
}
.storyDetailsLoad .storyDetails .storyBtns .player button.audio.playing img {
  border-radius: 15%;
}
.storyDetailsLoad .storyDetails .storyBtns .player .time-control {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  z-index: 1;
  /* For Firefox */
}
.storyDetailsLoad .storyDetails .storyBtns .player .time-control.hide {
  opacity: 0;
  transform: translateY(200px);
  pointer-events: none;
}
.storyDetailsLoad .storyDetails .storyBtns .player .time-control input {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background: transparent;
  cursor: pointer;
}
.storyDetailsLoad .storyDetails .storyBtns .player .time-control input:focus {
  outline: none;
}
.storyDetailsLoad .storyDetails .storyBtns .player .time-control input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  background-color: #ffffff;
  border: 2px solid #55792f;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 10px #55792f;
}
.storyDetailsLoad .storyDetails .storyBtns .player .time-control input::-moz-range-thumb {
  height: 20px;
  width: 20px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}
.storyDetailsLoad .storyDetails .storyBtns .player .time-control .track {
  background: rgb(34, 151, 255);
  background: linear-gradient(75deg, rgb(34, 151, 255) 0%, rgb(224, 138, 138) 100%);
  width: 100%;
  height: 20px;
  border-radius: 1rem;
  overflow: hidden;
}
.storyDetailsLoad .storyDetails .storyBtns .player .time-control p {
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: "Literata", serif;
  min-width: 70px;
}
.storyDetailsLoad .storyDetails .storyDetailsCon {
  z-index: 10;
  overflow: hidden;
  width: 100%;
  max-width: 800px;
  margin: 0 auto 50px auto;
  border-radius: 50px;
  box-shadow: 0 0 20px #72442c;
  font-size: 0;
}
.storyDetailsLoad .storyDetails .storyDetailsCon .storyDetailsImage {
  max-width: 100%;
  width: 100%;
}
.storyDetailsLoad .storyDetails p {
  font-size: 20px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 1200px;
}
.storyDetailsLoad .storyDetails .shareBtns {
  margin: 0 auto 50px auto;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.storyDetailsLoad .storyDetails .shareBtns .shareBtn {
  font-size: 0;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  outline: none;
}
.storyDetailsLoad .storyDetails .shareBtns .shareBtn:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
.storyDetailsLoad .storyDetails .shareBtns .shareBtn img {
  width: 100%;
  max-width: 100%;
}
.storyDetailsLoad .storyDetails button.back {
  cursor: pointer;
  width: 150px;
  margin: 0 auto 20px auto;
  text-align: center;
  border-radius: 20px;
  padding: 5px 0 5px 0;
  box-sizing: border-box;
  border: 3px solid #55792f;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background: #55792f;
  transition: all 0.3s ease-in-out;
}
.storyDetailsLoad .storyDetails button.back:hover {
  background: transparent;
  color: #55792f;
}

@media only screen and (max-width: 550px) {
  .storyDetailsLoad .storyDetails h1 {
    font-size: 36px;
    line-height: 38px;
    margin-bottom: 20px;
  }
  h3.date,
  h4.idea {
    font-size: 16px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 480px) {
  .storyDetailsLoad .storyDetails .storyBtns {
    margin: 20px auto 0 auto;
  }
  .storyDetailsLoad .storyDetails .storyBtns .favorite span {
    font-size: 14px;
  }
  .storyDetailsLoad .storyDetails p {
    font-size: 18px;
    line-height: 25px;
  }
}
.logInForm {
  min-height: calc(100vh - 300px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}
.logInForm form {
  width: 100%;
  max-width: 600px;
  background: #8dcbc9;
  border: 3px solid #72442c;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  box-sizing: border-box;
  border-radius: 30px;
  box-shadow: 0 0 20px #72442c;
  padding: 30px;
  margin: 0 auto 20px auto;
}
.logInForm form .errorMsg {
  width: 100%;
  text-align: center;
  background: #e08a8a;
  padding: 10px 20px;
  margin: 0 auto 20px auto;
  border-radius: 20px;
}
.logInForm form .errorMsg .errorText {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
}
.logInForm form label {
  width: 100%;
  font-family: "Gentium Book Plus", serif;
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
}
.logInForm form input {
  width: 100%;
  padding: 15px 20px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 2px solid #72442c;
  resize: none;
  font-size: 18px;
  background: #fff;
  outline: none;
  margin-bottom: 20px;
}
.logInForm form input:focus {
  box-shadow: 0 0 10px #72442c;
}
.logInForm form input::-moz-placeholder {
  font-size: 18px;
  font-family: "Gentium Book Plus", serif;
}
.logInForm form input::placeholder {
  font-size: 18px;
  font-family: "Gentium Book Plus", serif;
}
.logInForm form button {
  margin-top: 10px;
  width: 100%;
  max-width: 150px;
  padding: 10px 20px;
  box-sizing: border-box;
  font-size: 20px;
  background: #55792f;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.logInForm form button:hover {
  box-shadow: 0 0 20px #72442c;
  background: #72442c;
}
.logInForm p {
  font-size: 14px;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  margin: 0 auto 80px auto;
}
.logInForm p a {
  color: #55792f;
  transition: all 0.3s ease-in-out;
}
.logInForm p a:hover {
  color: #72442c;
}

@media only screen and (max-width: 1200px) {
  .logInForm form button {
    font-size: 18px;
    padding: 10px;
    max-width: 120px;
  }
}
@media only screen and (max-width: 550px) {
  .logInForm form {
    padding: 30px 20px;
  }
  .logInForm form input {
    padding: 10px 20px;
  }
}
.signUpForm {
  min-height: calc(100vh - 300px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}
.signUpForm form {
  width: 100%;
  max-width: 600px;
  background: #8dcbc9;
  border: 3px solid #72442c;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  box-sizing: border-box;
  border-radius: 30px;
  box-shadow: 0 0 20px #72442c;
  padding: 30px;
  margin: 0 auto 20px auto;
}
.signUpForm form .errorMsg {
  width: 100%;
  text-align: center;
  background: #e08a8a;
  padding: 10px 20px;
  margin: 0 auto 20px auto;
  border-radius: 20px;
}
.signUpForm form .errorMsg .errorText {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
}
.signUpForm form label {
  width: 100%;
  font-family: "Gentium Book Plus", serif;
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
}
.signUpForm form input {
  width: 100%;
  padding: 15px 20px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 2px solid #72442c;
  resize: none;
  font-size: 18px;
  background: #fff;
  outline: none;
  margin-bottom: 20px;
}
.signUpForm form input:focus {
  box-shadow: 0 0 10px #72442c;
}
.signUpForm form input::-moz-placeholder {
  font-size: 18px;
  font-family: "Gentium Book Plus", serif;
}
.signUpForm form input::placeholder {
  font-size: 18px;
  font-family: "Gentium Book Plus", serif;
}
.signUpForm form button {
  margin-top: 10px;
  width: 100%;
  max-width: 150px;
  padding: 10px 20px;
  box-sizing: border-box;
  font-size: 20px;
  background: #55792f;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.signUpForm form button:hover {
  box-shadow: 0 0 20px #72442c;
  background: #72442c;
}
.signUpForm p {
  font-size: 14px;
  margin: 0 auto 80px auto;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
}
.signUpForm p a {
  color: #55792f;
  transition: all 0.3s ease-in-out;
}
.signUpForm p a:hover {
  color: #72442c;
}

@media only screen and (max-width: 1200px) {
  .signUpForm form button {
    font-size: 18px;
    padding: 10px;
    max-width: 120px;
  }
}
@media only screen and (max-width: 550px) {
  .signUpForm form {
    padding: 30px 20px;
  }
  .signUpForm form input {
    padding: 10px 20px;
  }
}
.ideasForm {
  min-height: calc(100vh - 300px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}
.ideasForm h3 {
  width: 100%;
  font-size: 20px;
  text-align: center;
  max-width: 800px;
  margin: 0 auto 50px auto;
}
.ideasForm form {
  width: 100%;
  max-width: 600px;
  background: #8dcbc9;
  border: 3px solid #72442c;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  box-sizing: border-box;
  border-radius: 30px;
  box-shadow: 0 0 20px #72442c;
  padding: 30px;
  margin: 0 auto 50px auto;
}
.ideasForm form .message {
  width: 100%;
  text-align: center;
  background: #e08a8a;
  padding: 10px 20px;
  margin: 0 auto 20px auto;
  border-radius: 20px;
}
.ideasForm form .message span {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
}
.ideasForm form label {
  width: 100%;
  font-family: "Gentium Book Plus", serif;
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
}
.ideasForm form input,
.ideasForm form textarea {
  width: 100%;
  padding: 15px 20px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 2px solid #72442c;
  resize: none;
  font-size: 18px;
  background: #fff;
  outline: none;
  margin-bottom: 30px;
}
.ideasForm form input:focus,
.ideasForm form textarea:focus {
  box-shadow: 0 0 10px #72442c;
}
.ideasForm form input::-moz-placeholder, .ideasForm form textarea::-moz-placeholder {
  font-size: 18px;
  font-family: "Gentium Book Plus", serif;
}
.ideasForm form input::placeholder,
.ideasForm form textarea::placeholder {
  font-size: 18px;
  font-family: "Gentium Book Plus", serif;
}
.ideasForm form button {
  margin-top: 10px;
  width: 100%;
  max-width: 150px;
  padding: 10px 20px;
  text-align: center;
  box-sizing: border-box;
  font-size: 20px;
  background: #55792f;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.ideasForm form button:hover {
  box-shadow: 0 0 20px #72442c;
  background: #72442c;
}

@media only screen and (max-width: 1200px) {
  .ideasForm form button {
    font-size: 18px;
    padding: 10px;
    max-width: 120px;
  }
}
@media only screen and (max-width: 550px) {
  .ideasForm h3 {
    font-size: 18px;
    line-height: 22px;
  }
  .ideasForm form {
    padding: 30px 20px;
  }
  .ideasForm form input {
    padding: 10px 20px;
  }
}
.favorites {
  min-height: calc(100vh - 300px);
}
.favorites .favoritesCon h2.emptyFav {
  margin: 200px auto;
  width: 100%;
  text-align: center;
}
.favorites .favoritesCon .favLogin {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin: 100px auto;
}
.favorites .favoritesCon .favLogin h2 {
  margin: 0 auto;
  text-align: center;
}
.favorites .favoritesCon .favLogin a {
  margin-top: 50px;
  text-align: center;
  width: 100%;
  max-width: 150px;
  padding: 6px 20px 10px 20px;
  box-sizing: border-box;
  font-size: 20px;
  background: #55792f;
  color: #fff;
  border: none;
  border-radius: 20px;
}
.favorites .favoritesCon .favLogin a:hover {
  box-shadow: 0 0 20px #72442c;
  background: #72442c;
}
.favorites .favoritesCon .story {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}
.favorites .favoritesCon .story .storyCon {
  flex-flow: row nowrap;
  justify-content: space-between;
  background: #8dcbc9;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 0 30px #8dcbc9;
  border-radius: 20px;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.favorites .favoritesCon .story .storyCon:hover {
  box-shadow: 0 0 30px #000;
}
.favorites .favoritesCon .story .storyCon > img {
  font-size: 0;
  width: 100%;
  max-width: 300px;
}
.favorites .favoritesCon .story .storyCon .storyInfo {
  display: flex;
  flex-flow: column nowrap;
  padding-left: 40px;
  flex-grow: 1;
}
.favorites .favoritesCon .story .storyCon .storyInfo h3 {
  font-size: 28px;
  padding-right: 30px;
}
.favorites .favoritesCon .story .storyCon .storyInfo h5 {
  font-size: 18px;
  margin: 0 auto 5px 0;
  font-weight: 300;
}
.favorites .favoritesCon .story .storyCon .storyInfo p {
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 20px;
  margin-top: 20px;
  line-height: 25px;
  overflow: hidden;
}
.favorites .favoritesCon .story .removeFav {
  padding: 10px;
  box-sizing: border-box;
  width: 45px;
  height: 45px;
  border: none;
  background: transparent;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 0;
  cursor: pointer;
  z-index: 99;
  transition: all 0.3s ease-in-out;
}
.favorites .favoritesCon .story .removeFav img {
  width: 100%;
}
.favorites .favoritesCon .story .removeFav:hover {
  transform: scale(1.1);
}
.favorites .loading-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
}
.favorites .dot {
  width: 10px;
  height: 10px;
  margin: 0 4px;
  background-color: #8dcbc9;
  border-radius: 50%;
  display: inline-block;
  animation: spin 1.5s linear infinite;
}
.favorites #dot1 {
  animation-delay: 0.1s;
}
.favorites #dot2 {
  animation-delay: 0.2s;
}
.favorites #dot3 {
  animation-delay: 0.3s;
}
.favorites #dot4 {
  animation-delay: 0.4s;
}
.favorites #dot5 {
  animation-delay: 0.5s;
}
.favorites #dot6 {
  animation-delay: 0.6s;
}
@keyframes spin {
  0%, 100% {
    transform: scale(1);
    background-color: #105d9c;
  }
  50% {
    transform: scale(1.5);
    background-color: #8dcbc9;
  }
}
.favorites .loadMore {
  display: block;
  padding: 10px 20px;
  box-sizing: border-box;
  border: 4px solid #55792f;
  background: #55792f;
  color: #fff;
  font-family: "Gentium Book Plus", serif;
  font-size: 18px;
  cursor: pointer;
  margin: 40px auto;
  transition: all 0.3s ease-in-out;
  border-radius: 20px;
}
.favorites .loadMore:hover {
  background-color: transparent;
  color: #55792f;
}
.favorites .loadMore:disabled {
  background: gray;
  cursor: no-drop;
  border: 4px solid gray;
}
.favorites .loadMore:hover:disabled {
  color: #fff;
}

@media only screen and (max-width: 1200px) {
  .favorites .favoritesCon .favLogin a {
    font-size: 18px;
    padding: 5px 10px;
    max-width: 120px;
  }
}
@media only screen and (max-width: 900px) {
  .favorites .favoritesCon .story .storyCon {
    padding: 30px;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
  }
  .favorites .favoritesCon .story .storyCon img {
    min-height: unset;
    max-width: 100%;
    border-radius: 20px 20px 0 0;
  }
  .favorites .favoritesCon .story .storyCon .storyInfo {
    align-items: center;
    text-align: center;
    padding: 20px 0 0 0;
  }
  .favorites .favoritesCon .story .storyCon .storyInfo h3 {
    font-size: 22px;
    margin: 0 auto 10px auto;
  }
  .favorites .favoritesCon .story .storyCon .storyInfo h5 {
    margin: 0 auto;
  }
  .favorites .favoritesCon .story .removeFav {
    padding: 9px;
    width: 35px;
    height: 35px;
    right: 5px;
    top: 5px;
  }
}
@media only screen and (max-width: 550px) {
  .favorites h2 {
    font-size: 20px;
    line-height: 24px;
  }
}
@media only screen and (max-width: 480px) {
  .favorites .favoritesCon .story .storyCon .storyInfo h3 {
    font-size: 20px;
    line-height: 24px;
  }
  .favorites .favoritesCon .story .storyCon .storyInfo p {
    font-size: 16px;
  }
}
.overlay {
  display: none;
}
.overlay.active {
  display: unset;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}
.overlay.active .logInModal {
  width: 90%;
  max-width: 600px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #8dcbc9;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 60px 40px 40px 40px;
  border-radius: 20px;
  z-index: 11;
}
.overlay.active .logInModal button.close {
  padding: 8px;
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  border: none;
  background: transparent;
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 0;
  cursor: pointer;
  z-index: 99;
}
.overlay.active .logInModal button.close img {
  width: 100%;
}
.overlay.active .logInModal h3 {
  font-size: 24px;
  line-height: 28px;
  margin: 0 auto 30px auto;
}
.overlay.active .logInModal a {
  width: 100%;
  max-width: 120px;
  padding: 5px 20px 8px 20px;
  box-sizing: border-box;
  font-size: 18px;
  background: #55792f;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.overlay.active .logInModal a:hover {
  box-shadow: 0 0 20px #72442c;
  background: #72442c;
}

@media only screen and (max-width: 550px) {
  .overlay.active .logInModal h3 {
    font-size: 20px;
    line-height: 24px;
  }
  .overlay.active .logInModal a {
    font-size: 16px;
  }
}
.add-top-stories-container {
  margin: 20px auto 90px auto;
  max-width: 1400px;
  padding: 20px;
  border: 2px solid #72442c;
  box-shadow: 0 0 20px #72442c;
  background-color: #8dcbc9;
  border-radius: 10px;
  max-width: 1000px;
}
.add-top-stories-container h1 {
  margin-bottom: 20px;
}
.add-top-stories-container div {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.add-top-stories-container div h4 {
  font-size: 20px;
  font-weight: bold;
  color: #1a1a1a;
  margin-bottom: 10px;
}
.add-top-stories-container div button {
  background-color: #55792f;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.add-top-stories-container .loading-message {
  font-size: 18px;
  color: #55792f;
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  .add-top-stories-container {
    margin: 10px;
    padding: 10px;
  }
  .add-top-stories-container div h4 {
    margin-bottom: 10px;
  }
  .add-top-stories-container div button {
    margin-top: 10px;
  }
}
.upload-story-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}
.upload-story-container .error-message {
  width: 100%;
  text-align: center;
  background: #e08a8a;
  padding: 10px 20px;
  margin: 0 auto 20px auto;
  border-radius: 20px;
}
.upload-story-container .error-message h3 {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
}
.upload-story-container .upload-story-form {
  text-align: center;
  width: 100%;
  max-width: 1400px;
  background: #8dcbc9;
  border: 3px solid #72442c;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  box-sizing: border-box;
  border-radius: 30px;
  box-shadow: 0 0 20px #72442c;
  padding: 30px;
  margin: 0 auto 50px auto;
}
.upload-story-container .upload-story-form label {
  width: 100%;
  font-size: 20px;
  margin: 0 auto 50px auto;
}
.upload-story-container .upload-story-form .form-input {
  margin-top: 10px;
  width: 100%;
  padding: 15px 20px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 2px solid #72442c;
  resize: none;
  font-size: 18px;
  background: #fff;
  outline: none;
  margin-bottom: 30px;
}
.upload-story-container .upload-story-form .form-input:focus {
  box-shadow: 0 0 10px #72442c;
}
.upload-story-container .upload-story-form .form-input::-moz-placeholder {
  font-size: 18px;
  font-family: "Gentium Book Plus", serif;
}
.upload-story-container .upload-story-form .form-input::placeholder {
  font-size: 18px;
  font-family: "Gentium Book Plus", serif;
}
.upload-story-container .upload-story-form .form-button {
  margin-top: 10px;
  width: 100%;
  max-width: 300px;
  padding: 10px 20px;
  text-align: center;
  box-sizing: border-box;
  font-size: 20px;
  background: #55792f;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.upload-story-container .upload-story-form .form-button:hover {
  box-shadow: 0 0 20px #72442c;
  background: #72442c;
}

.edit-stories-container {
  margin: 20px auto 90px auto;
  max-width: 1400px;
  padding: 20px;
  border: 2px solid #72442c;
  background-color: #8dcbc9;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 0 20px #72442c;
}
.edit-stories-container button.lock {
  width: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
  background: transparent;
  border: none;
}
.edit-stories-container button.lock img {
  width: 100%;
  font-size: 0;
}
.edit-stories-container ul.stories-list {
  list-style: none;
  padding: 0;
}
.edit-stories-container ul.stories-list li.story-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #72442c;
  padding: 10px 0;
}
.edit-stories-container ul.stories-list li.story-item span {
  font-size: 18px;
  font-weight: bold;
  color: #1a1a1a;
  margin-right: 10px;
}
.edit-stories-container ul.stories-list li.story-item button {
  background-color: red;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.edit-stories-container ul.stories-list li.story-item button:disabled {
  background: gray;
  cursor: not-allowed;
}
.edit-stories-container .loading-message {
  font-size: 18px;
  color: #55792f;
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  .edit-stories-container {
    margin: 10px;
    padding: 10px;
  }
  .edit-stories-container ul.stories-list li.story-item {
    flex-direction: column;
  }
  .edit-stories-container ul.stories-list li.story-item span {
    margin-bottom: 10px;
  }
  .edit-stories-container ul.stories-list li.story-item button {
    margin-top: 10px;
  }
}
.admin {
  min-height: calc(100vh - 400px);
}

.edit_user_con {
  margin: 20px auto 90px auto;
  max-width: 1400px;
  padding: 50px;
  border: 2px solid #72442c;
  background-color: #8dcbc9;
  border-radius: 10px;
  box-shadow: 0 0 20px #72442c;
}
.edit_user_con ul {
  list-style: none;
  padding: 0;
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.edit_user_con ul li {
  background-color: #55792f;
  color: #fff;
  font-size: 18px;
  font-family: "Literata", serif;
  padding: 10px;
  max-width: 250px;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 50%;
  min-width: 250px;
}
.edit_user_con ul li:hover {
  background-color: #72442c;
}
.edit_user_con .loading-message {
  font-size: 18px;
  color: #55792f;
  margin-top: 20px;
}

.popupCon .popupBg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgba(26, 26, 26, 0.6);
}
.popupCon .popup {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  background-color: #8dcbc9;
  border: 2px solid #72442c;
  padding: 50px;
  border-radius: 20px;
  z-index: 101;
}
.popupCon .popup h3 {
  font-size: 22px;
  margin: 0 auto 40px auto;
  text-align: center;
}
.popupCon .popup h5 {
  font-size: 20px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  font-family: "Gentium Book Plus", serif;
  margin: 0 auto 40px auto;
}
.popupCon .popup label {
  font-size: 20px;
  font-family: "Gentium Book Plus", serif;
  font-weight: 500;
  margin: 0 auto 20px auto;
  display: block;
}
.popupCon .popup label input {
  margin-left: 10px;
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid #72442c;
  font-size: 18px;
  background: #fff;
  outline: none;
}
.popupCon .popup label input:focus {
  box-shadow: 0 0 10px #72442c;
}
.popupCon .popup label input::-moz-placeholder {
  font-size: 18px;
  font-family: "Gentium Book Plus", serif;
}
.popupCon .popup label input::placeholder {
  font-size: 18px;
  font-family: "Gentium Book Plus", serif;
}
.popupCon .popup .error {
  width: 100%;
  text-align: center;
  color: red;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
  font-size: 18px;
  max-width: 400px;
  line-height: 20px;
}
.popupCon .popup .popBtns {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.popupCon .popup .popBtns button {
  color: #fff;
  font-size: 18px;
  font-family: "Literata", serif;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 150px;
  border: none;
}
.popupCon .popup .popBtns button.cancel {
  background-color: gray;
}
.popupCon .popup .popBtns button.delete {
  background-color: red;
}
.popupCon .popup .popBtns button.save {
  background-color: #55792f;
}/*# sourceMappingURL=styles.css.map */