@use "../global/" as *;
footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  box-sizing: border-box;

  span {
    font-size: 20px;
    font-family: $logo;
  }
}
