@use '../global/colors' as *;
@use '../global/typography' as *;

header {
  min-height: 180px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  margin-bottom: 100px;
  position: relative;

  .headerLeft,
  .headerRight {
    flex: 0 0 calc(50% - 100px);
    width: calc(50% - 100px);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  .headerLeft {
    justify-content: flex-end;
  }
  .headerRight {
    justify-content: flex-start;
  }

  .logo {
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;

    img {
      width: 100%;
      max-width: 120px;
    }
    span {
      font-size: 40px;
      font-family: $titles;
      background: -webkit-linear-gradient($black, $green);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .link {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    font-size: 0;
    margin: 0 30px;
    padding-bottom: 5px;
    position: relative;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      left: -100%;
      bottom: 0;
      background: $green;
      height: 3px;
      border-radius: 30px;
      width: 100%;
      transition: all 0.3s ease-in-out;
    }
    &.active::after {
      left: 0;
    }
    &.active.account::after {
      left: -100%;
    }

    img {
      width: 100%;
      max-width: 32px;
      margin: 5px 0;
    }

    .googleImg {
      border-radius: 50%;
    }

    span {
      font-size: 18px;
      font-family: $titles;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      .permanent {
        margin: 0 5px;
      }
    }
  }
  button.burger {
    display: none;
    position: absolute;
    right: 0;
    top: 40%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    width: 35px;
    height: 26px;

    span {
      position: absolute;
      left: 0;
      width: 100%;
      height: 5px;
      border-radius: 40px;
      background: $green;
      transition: all 0.3s ease-in-out;
    }

    span.line1 {
      top: 0;
    }

    span.line2 {
      top: 50%;
      transform: translateY(-50%);
    }

    span.line3 {
      bottom: 0;
    }

    &.open {
      span.line1 {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        background: $blue;
      }

      span.line2 {
        opacity: 0;
      }

      span.line3 {
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
        background: $blue;
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  header {
    .link {
      margin: 0 20px;
    }
  }
}
@media only screen and (max-width: 980px) {
  header {
    min-height: 150px;
    margin-bottom: 30px;

    .link {
      span {
        font-size: 16px;

        div:not(.permanent) {
          display: none;
        }
      }
    }
    .logo {
      img {
        max-width: 100px;
      }
      span {
        font-size: 32px;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  header {
    min-height: 100px;
    .headerLeft,
    .headerRight {
      display: none;
    }
    .logo {
      position: relative;
      width: 100%;
      left: unset;
      top: unset;
      transform: none;
      display: flex;
      align-items: flex-start;
      justify-content: center;

      .logoLink {
        width: 85px;
        position: absolute;
        left: 0;
        right: 0;
        top: -20px;
        margin: auto;
      }
      span {
        font-size: 28px;
      }
    }
    button.burger {
      z-index: 10;
      display: unset;
    }
  }
}

@media only screen and (max-width: 600px) {
  header button.burger {
    width: 30px;
    height: 22px;
  }
}

@media only screen and (max-width: 400px) {
  header .logo {
    min-height: 40px;
    span {
      font-size: 0;
    }
  }
}
