@use '../global//colors' as *;
@use '../global/typography' as *;

:root {
  --tb: #ffffff40;
  --tbh: #ffffff70;
  --tran: all 0.5s ease 0.1s;
}

.rating-stars {
  background: $blue;
  box-shadow: 0 0 20px $brown;
  transform-style: preserve-3d;
  display: block;
  width: 100%;
  max-width: 400px;
  border-radius: 40px;
  height: 150px;
  padding: 65px 0 20px 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateX(15deg);
  margin: 20px auto 30px auto;

  h6 {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 25px;
    transform: translateX(-50%);
    font-size: 22px;
    text-align: center;
    line-height: 28px;
    font-family: $text;
    font-weight: 700;
    padding: 0 20px;
  }
  input {
    display: none;
  }

  label {
    width: 100%;
    height: 100%;
    max-width: 40px;
    max-height: 40px;
    cursor: pointer;
    margin: 0 3px;
    transition: var(--tran);
    transition-delay: 0s;
    position: relative;
  }

  label:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '\2605';
    z-index: 2;
    font-size: 40px;
    line-height: 30px;
    color: #b1ddff;
    text-align: center;
    transition: var(--tran);
    text-shadow: 1px 1px 1px var(--tb), -1px -1px 1px var(--tb),
      -1px 0px 1px var(--tb), 1px 0px 1px var(--tb), 0vmin 0.1vmin 1px #1d8be1,
      0vmin 0.1vmin 1px #1d8be1, 0vmin 0.2vmin 1px #1b81d1,
      0vmin 0.2vmin 1px #1b81d1, 0vmin 0.3vmin 1px #1972b7,
      0vmin 0.3vmin 1px #1972b7, 0vmin 0.4vmin 1px #1a76bd,
      0vmin 0.4vmin 1px #1a76bd, 0vmin 0.5vmin 1px #196fb1,
      0vmin 0.5vmin 1px #196fb1, 0vmin 0.6vmin 1px #1868a5,
      0vmin 0.6vmin 1px #1868a5, 0vmin 0.7vmin 1px #155f97,
      0vmin 0.7vmin 1px #155f97, 0vmin 0.8vmin 1px #125689,
      0vmin 0.8vmin 1px #125689, 0vmin 0.9vmin 1px #104e7d,
      0vmin 0.9vmin 1px #104e7d, 0vmin 1vmin 1px #104975,
      0vmin 1.1vmin 1px #104975, 0vmin 1.1vmin 1px #0e4169,
      0vmin 1.2vmin 1px #0e4169, 0vmin 1.2vmin 1px #0c395d,
      0vmin 1.3vmin 1px #0c395d, 0vmin 1.3vmin 1px #0a3151,
      0vmin 1.4vmin 1px #0a3151, 0vmin 1.4vmin 1px #092c49,
      0vmin 1.5vmin 1px #092c49, 0vmin 1.5vmin 1px #072239,
      0vmin 1.6vmin 1px #072239, 0vmin 1.6vmin 3px #00000020;
    filter: drop-shadow(0px 5px 10px #008dff) drop-shadow(0px 5px 30px #008dff);
  }

  label:hover:before {
    color: #e2f2ff;
    filter: drop-shadow(0px 5px 15px #b1ddff) drop-shadow(0px 5px 30px #b1ddff);
  }

  /*** unchecked:before ***/
  input:checked + label ~ label:before,
  input:checked + label ~ label:hover:active:before {
    transition: var(--tran);
    color: #18242f;
    filter: none;
    transform: translateY(5px);

    text-shadow: 1px 1px 1px var(--tbh), -1px -1px 1px var(--tbh),
      -1px 0px 1px var(--tbh), 1px 0px 1px var(--tbh),
      0vmin 0.01vmin 1px #1d8be1, 0vmin 0.02vmin 1px #1d8be1,
      0vmin 0.03vmin 1px #1b81d1, 0vmin 0.04vmin 1px #1b81d1,
      0vmin 0.05vmin 1px #1972b7, 0vmin 0.06vmin 1px #1972b7,
      0vmin 0.07vmin 1px #1a76bd, 0vmin 0.08vmin 1px #1a76bd,
      0vmin 0.09vmin 1px #196fb1, 0vmin 0.1vmin 1px #196fb1,
      0vmin 0.11vmin 1px #1868a5, 0vmin 0.12vmin 1px #1868a5,
      0vmin 0.13vmin 1px #155f97, 0vmin 0.14vmin 1px #155f97,
      0vmin 0.15vmin 1px #125689, 0vmin 0.16vmin 1px #125689,
      0vmin 0.17vmin 1px #104e7d, 0vmin 0.18vmin 1px #104e7d,
      0vmin 0.19vmin 1px #104975, 0vmin 0.2vmin 1px #104975,
      0vmin 0.21vmin 1px #0e4169, 0vmin 0.22vmin 1px #0e4169,
      0vmin 0.23vmin 1px #0c395d, 0vmin 0.24vmin 1px #0c395d,
      0vmin 0.25vmin 1px #0a3151, 0vmin 0.26vmin 1px #0a3151,
      0vmin 0.27vmin 1px #092c49, 0vmin 0.28vmin 1px #092c49,
      0vmin 0.29vmin 1px #072239, 0vmin 0.3vmin 1px #072239,
      0vmin 0.5vmin 3px #00000020;
  }

  /*** unchecked:hover:before ***/
  input:checked + label ~ label:hover:before,
  label ~ label:hover:active:before {
    color: #2196f3;
    text-shadow: 1px 1px 1px var(--tbh), -1px -1px 1px var(--tbh),
      -1px 0px 1px var(--tbh), 1px 0px 1px var(--tbh),
      0vmin 0.02vmin 1px #1d8be1, 0vmin 0.04vmin 1px #1d8be1,
      0vmin 0.06vmin 1px #1b81d1, 0vmin 0.08vmin 1px #1b81d1,
      0vmin 0.1vmin 1px #1972b7, 0vmin 0.12vmin 1px #1972b7,
      0vmin 0.14vmin 1px #1a76bd, 0vmin 0.16vmin 1px #1a76bd,
      0vmin 0.18vmin 1px #196fb1, 0vmin 0.2vmin 1px #196fb1,
      0vmin 0.22vmin 1px #1868a5, 0vmin 0.24vmin 1px #1868a5,
      0vmin 0.26vmin 1px #155f97, 0vmin 0.28vmin 1px #155f97,
      0vmin 0.3vmin 1px #125689, 0vmin 0.32vmin 1px #125689,
      0vmin 0.34vmin 1px #104e7d, 0vmin 0.36vmin 1px #104e7d,
      0vmin 0.38vmin 1px #104975, 0vmin 0.4vmin 1px #104975,
      0vmin 0.42vmin 1px #0e4169, 0vmin 0.44vmin 1px #0e4169,
      0vmin 0.46vmin 1px #0c395d, 0vmin 0.48vmin 1px #0c395d,
      0vmin 0.5vmin 1px #0a3151, 0vmin 0.52vmin 1px #0a3151,
      0vmin 0.54vmin 1px #092c49, 0vmin 0.56vmin 1px #092c49,
      0vmin 0.58vmin 1px #072239, 0vmin 0.6vmin 1px #072239,
      0vmin 1vmin 3px #00000020;
  }

  label[for='rs1']:before {
    transition-delay: 0.05s;
  }
  label[for='rs2']:before {
    transition-delay: 0.1s;
  }
  label[for='rs3']:before {
    transition-delay: 0.15s;
  }
  label[for='rs4']:before {
    transition-delay: 0.2s;
  }
  label[for='rs5']:before {
    transition-delay: 0.25s;
  }
  /*** Reload ***/
  label[for='rs0'] {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .rating-stars label {
    max-width: 30px;
    max-height: 30px;
    margin: 0 10px;

    &::before {
      font-size: 38px;
      line-height: 17px;
    }
  }
}
@media only screen and (max-width: 360px) {
  .rating-stars h6 {
    top: 10px;
  }
}
