@use "../global//colors" as *;
@use "../global/typography" as *;

.storyDetailsLoad {
  min-height: calc(100vh - 330px);

  .loading-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
  }

  .dot {
    width: 10px;
    height: 10px;
    margin: 0 4px;
    background-color: $blue;
    border-radius: 50%;
    display: inline-block;
    animation: spin 1.5s linear infinite;
  }

  #dot1 {
    animation-delay: 0.1s;
  }

  #dot2 {
    animation-delay: 0.2s;
  }

  #dot3 {
    animation-delay: 0.3s;
  }

  #dot4 {
    animation-delay: 0.4s;
  }

  #dot5 {
    animation-delay: 0.5s;
  }

  #dot6 {
    animation-delay: 0.6s;
  }

  @keyframes spin {
    0%,
    100% {
      transform: scale(1);
      background-color: #105d9c;
    }
    50% {
      transform: scale(1.5);
      background-color: $blue;
    }
  }
  .storyDetails {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;

    h1 {
      margin: 0 auto 20px auto;
    }

    h3.date {
      font-size: 18px;
      font-family: $text;
      font-weight: 500;
      margin: 0 auto 5px auto;
    }

    h4.idea {
      font-size: 18px;
      font-family: $text;
      font-weight: 500;
      margin: 0 auto 30px auto;
    }

    .storyBtns {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      column-gap: 20px;
      position: relative;
      width: 100%;
      max-width: 380px;
      padding-bottom: 80px;

      .favorite {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        width: fit-content;
        cursor: pointer;
        border: 2px solid $pink;
        background: $pink;
        border-radius: 10px;
        padding: 5px 10px;

        &:hover {
          background: #fff;
        }
        &:hover span {
          color: $pink;
        }
        &:hover img {
          filter: invert(62%) sepia(15%) saturate(3443%) hue-rotate(308deg)
            brightness(108%) contrast(90%);
        }

        span {
          white-space: nowrap;
          font-size: 15px;
          color: #fff;
          margin-left: 10px;
        }

        img {
          width: 100%;
          max-width: 24px;
          font-size: 0;
        }
      }

      .player {
        width: fit-content;

        button.audio {
          width: fit-content;
          min-width: 200px;
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: center;
          width: fit-content;
          cursor: pointer;
          border-radius: 10px;
          padding: 5px 10px;

          span {
            white-space: nowrap;
            font-size: 15px;
            color: #fff;
            margin-left: 10px;
          }

          img {
            width: 100%;
            max-width: 22px;
            font-size: 0;
          }

          &.paused {
            border: 2px solid $green;
            background: $green;
          }

          &.playing {
            border: 2px solid #ff2f00;
            background: #ff2f00;
            img {
              border-radius: 15%;
            }
          }
        }

        .time-control {
          position: absolute;
          bottom: 30px;
          left: 0;
          width: 100%;
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: center;
          transition: all 0.5s ease-in-out;
          z-index: 1;

          &.hide {
            opacity: 0;
            transform: translateY(200px);
            pointer-events: none;
          }

          input {
            width: 100%;
            -webkit-appearance: none;
            appearance: none;
            background: transparent;
            cursor: pointer;
          }

          input:focus {
            outline: none;
          }

          input::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            height: 20px;
            width: 20px;
            background-color: #ffffff;
            border: 2px solid $green;
            border-radius: 50%;
            cursor: pointer;
            box-shadow: 0 0 10px $green;
          }

          /* For Firefox */
          input::-moz-range-thumb {
            height: 20px;
            width: 20px;
            background-color: #ffffff;
            border: 1px solid #000000;
            border-radius: 50%;
            cursor: pointer;
          }

          .track {
            background: rgb(34, 151, 255);
            background: linear-gradient(
              75deg,
              rgba(34, 151, 255, 1) 0%,
              rgba(224, 138, 138, 1) 100%
            );
            width: 100%;
            height: 20px;
            border-radius: 1rem;
            overflow: hidden;
          }

          p {
            text-align: center;
            width: fit-content;
            padding: 0;
            margin: 0;
            font-size: 18px;
            font-family: $text;
            min-width: 70px;
          }
        }
      }
    }
    .storyDetailsCon {
      z-index: 10;
      overflow: hidden;
      width: 100%;
      max-width: 800px;
      margin: 0 auto 50px auto;
      border-radius: 50px;
      box-shadow: 0 0 20px $brown;
      font-size: 0;
      .storyDetailsImage {
        max-width: 100%;
        width: 100%;
      }
    }

    p {
      font-size: 20px;
      margin-bottom: 20px;
      width: 100%;
      max-width: 1200px;
    }

    .shareBtns {
      margin: 0 auto 50px auto;
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      gap: 15px;

      .shareBtn {
        font-size: 0;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        outline: none;

        &:hover {
          transform: scale(1.1);
          transition: all 0.3s ease-in-out;
        }

        img {
          width: 100%;
          max-width: 100%;
        }
      }
    }

    button.back {
      cursor: pointer;
      width: 150px;
      margin: 0 auto 20px auto;
      text-align: center;
      border-radius: 20px;
      padding: 5px 0 5px 0;
      box-sizing: border-box;
      border: 3px solid $green;
      font-size: 16px;
      font-weight: 500;
      color: #fff;
      background: $green;
      transition: all 0.3s ease-in-out;

      &:hover {
        background: transparent;
        color: $green;
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .storyDetailsLoad .storyDetails h1 {
    margin: 0 auto 10px auto;
  }
}
@media only screen and (max-width: 480px) {
  .storyDetailsLoad .storyDetails {
    .favorite {
      span {
        font-size: 14px;
      }
    }
    p {
      font-size: 18px;
      line-height: 25px;
    }
  }
}
