@use "../global//colors" as *;
.homeText {
  width: 100%;
  max-width: 1200px;
  margin: 120px auto 200px auto;
  text-align: center;
  background: #fff;
  border: 5px solid $green;

  padding: 40px;
  border-radius: 50px;

  h1 {
    font-size: 34px;
  }

  p {
    font-size: 22px;
    line-height: 34px;
    margin: 30px auto;
  }
}
