@forward "./banner";
@forward "./homeText";
@forward "./homeSlider";

.tree1 {
  position: fixed;
  left: -200px;
  top: -10%;
  height: 120%;
  animation: slideRignt 2s forwards ease-in-out;
}

.tree2 {
  position: fixed;
  right: -200px;
  top: -10%;
  height: 120%;
  transform: rotateY(180deg);
  animation: slideLeft 2s forwards ease-in-out;
}
.leaf1 {
  position: fixed;
  left: -110px;
  top: -110px;
}
.leaf2 {
  position: fixed;
  right: -110px;
  top: -110px;
}

@keyframes slideRignt {
  0% {
    left: -200px;
  }
  100% {
    left: -100px;
  }
}
@keyframes slideLeft {
  0% {
    right: -200px;
  }
  100% {
    right: -100px;
  }
}
