@use "../global/colors" as *;

.video_con {
  overflow: hidden;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto 50px auto;
  border-radius: 50px;
  box-shadow: 0 0 20px $brown;
  font-size: 0;
  position: relative;
  .video {
    width: 100%;
  }

  .video_controls {
    position: absolute;
    right: 8px;
    bottom: 8px;
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 20px;
    background: $blue;
    border-radius: 40px;
    box-shadow: 0 0 20px $brown;

    button {
      background: #fff;
      border-radius: 50%;
      border: none;
      outline: none;
      width: 100%;
      max-width: 40px;
      height: 100%;
      max-height: 40px;
      border: 2px solid #fff;
      cursor: pointer;
      margin-left: 10px;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }

      img {
        width: 100%;
        font-size: 0;
      }
    }

    .track {
      background: rgb(34, 151, 255);
      background: linear-gradient(
        75deg,
        rgba(34, 151, 255, 1) 0%,
        rgba(224, 138, 138, 1) 100%
      );
      width: 100%;
      height: 20px;
      border-radius: 1rem;
      overflow: hidden;

      input {
        width: 100%;
        -webkit-appearance: none;
        appearance: none;
        background: transparent;
        cursor: pointer;
      }

      input:focus {
        outline: none;
      }

      input::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        height: 20px;
        width: 20px;
        background-color: #ffffff;
        border: 2px solid $green;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 0 10px $green;
      }

      /* For Firefox */
      input::-moz-range-thumb {
        height: 20px;
        width: 20px;
        background-color: #ffffff;
        border: 1px solid #000000;
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }
}
