@use '../global//colors' as *;
@use '../global//typography' as *;

.welcomeMsg {
  width: 100%;
  text-align: center;
  margin: 0 auto;

  h1 {
    font-size: 32px;
    margin: 0 auto;

    &::after {
      display: none;
    }
  }
}
